# OS
.DS_Store
Thumbs.db

# Node
node_modules/
dist/

# Python
__pycache__/
*.pyc
*.pyo
.env

# C# / .NET
bin/
obj/
*.user
*.suo
*.vs/
*.dll
*.exe

# Visual Studio Code
.vscode/

# Logs
*.log
logs/

# Other
*.tmp
*.swp
